
.container {
    margin-top: 40px;
}

.col {
    height: 200px;
    background-color: #222527;
    border: 2px solid yellow;
    margin: 30px;
    color: yellow;
    font-size: 45px;
    text-align: center;
    font-weight: bold;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

@media (max-width: 992px) {
    .col {
        font-size: 32px;
    }
} 