
.container {
    margin-top: 40px;
}

.row div {
    height: 200px;
    background-color: #222527;
    border: 2px solid yellow;
    color: yellow;
    margin: 20px 0px 20px 0px;
    font-size: 45px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

@media (max-width: md) {
    .col {
        font-size: 20px;
    }
} 
