<div id="initial-image" class="jumbotron jumbotron-fluid col-sm-12">
    <!-- <div class="container">
      <h1 class="display-4 text-warning">Bem vindo(a) ao Trero!</h1>
      <p class="lead">Este é um site deci</p>
    </div> -->
    <button class="btn btn-primary btn-lg" routerLink="/cadastro">Comece agora mesmo</button>
</div>

<div id="descritiveCard" class="card-label">
    <div class="container text-center">
        <p id="descritiveText">O Trero é um site com o propósito de dar às pesssoas a oportunidade de publicarem seu currículo para que este seja visto por recrutadores de talentos.</p>
    </div>
</div>

<div class="container">
  <h3>Últimos currículos cadastrados:</h3>
  <div class="row">
    <div class="col-lg-4 bg-warning center-content">
        <div class="rounded-circle foto-perfil" width="140" height="140"></div>
        <h3>O nome do usuário</h3>
        <p>Informações do currículo</p>
        <p> <a>Ver currículo</a></p>
    </div>

    <div class="col-lg-4">
            <div class="rounded-circle foto-perfil" width="140" height="140"></div>
            <h3>O nome do usuário</h3>
            <p>Informações do currículo</p>
            <p> <a>Ver currículo</a></p>
    </div>

    <div class="col-lg-4">
            <div class="rounded-circle foto-perfil" width="140" height="140"></div>
            <h3>O nome do usuário</h3>
            <p>Informações do currículo</p>
            <p> <a>Ver currículo</a></p>
    </div>


  </div>

</div>
<div class="footer">
    <div class='container bg-transparent text-center'>
      Trero - 2019
    </div>
  </div> 


